.body-content{
    padding: 5rem 0;
}
.Header{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

div > a {
    margin: 0 20px;
    color: black;
    font-weight: bold;
}

div > a:last-child{
    margin-right: 0;
}

.active-link {
    border-bottom: black solid 1px;
}